body{
background-color: #fafafa;
}

.loginpage_main{
    display: flex;
    margin: 25px;
}
.loginpage_logo{
    width: 175px;
    margin-top: 25px;
}
.loginpage_rightcomponent{
    background-color: white;
    height: 380px;
    width: 350px;
    border: 1px solid #DBDBDE ;
    margin-top: 25px;
    text-align: center;
}
.loginPage__signin{
margin-top: 25px;
}
.loginpage__text{
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #DBDBDE;
    background-color: #fafafa;
    /* padding-left: 10px; */
    border-radius: 4px;

}
.login__button{
    width: 263px;
    height: 36px;
    margin: 5px;
    /* margin-top: 5px; */
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #0395F6;
    background-color: #0395F6;
    color: white;
}
.login__ordiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login__dividor {
    width: 80px;
    height: 0px;
    margin-top: 10px;
    border:1px solid #DBDBDB;
}
.login__or {
    margin: 0px 10px;
    /* font-weight: bold; */
    color: #8E8E8E;
}
.login__fb{
    color: #395185;
    font-weight: bold;
    margin-top: 30px;
    font-size: 16px;
}
.fb{
    width: 16px;
    margin-right: 4px;
}
.login_forgot{
    color: rgba(var(--fe0, 0, 55, 107),1);
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}
.loginpage__signupoption {
    margin-top: 25px;
    height:56px;
    width: 350px;
    background-color: white;
    border: 1px solid #DBDBDB;
    text-align: center;
}
.loginPage__signin{
    margin-top: 20px;
    color: #8E8E8E;;
}
.loginPage__signup {
    margin-top: 30px;
    color: #8E8E8E;;
}
.appplaystore{
    /* height: 105px; */
    /* width: 350px; */
    text-align: center;
    margin-top: 40px;
}
.appstore{
    width: 136px;
    /* margin: 5px; */
    margin-right: 5px;
}
.playstore{
    width: 136px;
    /* margin: 5px; */
    margin-left: 5px;
}